{% extends 'admintemplate/adminBase.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h2 class="mt-4">SECTIONS</h2>
            <ol class="breadcrumb mb-2">
                <li class="breadcrumb-item "><a href="{% url 'travelsapp:adminHome' %}">Dashboard</a> </li>
                <li class="breadcrumb-item active">Sections</li>
            </ol>
            <div class="">
                <a class="btn btn-outline-success my-2 " href="{% url 'travelsapp:adminSectionAdd' %}"><i class="fa fa-plus"></i> &nbsp; Add Section</a>
            </div>
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Sections List</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Url</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Action</th>

                                </tr>
                            </thead>

                            <tbody>
                                {% for section in sectionsList %}
                                <tr>
                                    <td>{{section.section_name}}</td>
                                    <td>{{section.section_url}}</td>
                                    <td>{{section.section_desc}}</td>
                                    <td>
                                        <div class="custom-control custom-switch">
                                            <input 
                                            class="updateToggle" 
                                            data-onstyle="success" 
                                            data-offstyle="info" 
                                            data-size="small" 
                                            id="section-{{section.id}}" 
                                            doFunction="update-section-status" 
                                            data_id="{{section.id}}" 
                                            type="checkbox" 
                                            data-toggle="toggle" 
                                            {% if section.active == True %} checked {% endif %} 
                                            data-on="Active" 
                                            data-off="Inactive" 
                                            value="{{section.active}}">
                                            
                                        </div>

                                    </td>
                                    <td>
                                        <a href="{% url 'travelsapp:adminSectionUpdate' section.id %}" class="btn btn-outline-info my-1"><span class="far fa-edit"></span> </a>
                                        <a class="btn btn-outline-danger my-1 deleteRecord" rel="{{section.id}}" rel1="delete-section" href="javascript:"><span class="far fa-trash-alt"></span> </a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

{% endblock %}