{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tours-Login</title>
    <link href="{% static 'adminstatic/dist/css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'adminstatic/dist/css/custom.css' %}" rel="stylesheet" />
    <link href="{% static 'adminstatic/dist/css/toastr.min.css' %}" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body class="" style="background-color: #116466;">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4 login-header">Admin Login</h3>
                                </div>
                                <div class="card-body">
                                    <form method="POST" action="{% url 'travelsapp:adminLogin' %}">
                                        {% csrf_token %}
                                        {{ form }}
                                        <!-- <div class="form-group">
                                            <label class="small mb-1" for="username">Email</label>
                                            <input class="form-control py-4" name="username" id="username" type="text" placeholder="Enter email address" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="password">Password</label>
                                            <input class="form-control py-4" name="password" id="password" type="password" placeholder="Enter password" />
                                        </div>-->
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox"><input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                                <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                            </div>
                                        </div>
                                        <div class="form-group mt-4 mb-0">
                                            <button type="submit" class="btn btn-block btn-outline-success">Login</button>
                                            <a class="small" href="password.html">Forgot Password?</a>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'adminstatic/dist/js/scripts.js' %}"></script>
        <script src="{% static 'adminstatic/dist/js/toastr.min.js' %}"></script>
        <script>
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }
        </script>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success'%}<script>toastr.success ('{{ message }}','Success !')</script>{% endif %}
        {% if message.tags == 'error'%}<script>toastr.error ('{{ message }}', 'Error !')</script>{% endif %}
        {% endfor %}

        {% endif %}

</body>

</html>