{% extends 'admintemplate/adminBase.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h4 class="mt-4">PACKAGES</h4>
            <ol class="breadcrumb mb-2">
                <li class="breadcrumb-item "><a href="{% url 'travelsapp:adminHome' %}">Dashboard</a> </li>
                <li class="breadcrumb-item active">Packages</li>
            </ol>
            <div class="">
                <a class="btn btn-outline-success my-2 " href="{% url 'travelsapp:adminPackageAdd' %}"><i class="fa fa-plus"></i> &nbsp; Add Package</a>
            </div>
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Packages List</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Package Name</th>
                                    <th>zz</th>
                                    <th>Category </th>
                                    <th>Image</th>
                                    <th>PKG Price</th>
                                    <th>PKG Discount</th>
                                    <th>Status</th>
                                    <th>Action</th>

                                </tr>
                            </thead>

                            <tbody>
                                {% for package in packagesList %}
                                <tr>
                                    <td>{{package.package_name}}</td>
                                    <td>{{package.section}}</td>
                                    <td>{{package.category}}</td>
                                    <td class="d-flex align-item-center justify-content-center"><img class="img-fluid" src="{{package.package_image.url}}" alt="" width="50%"></td>
                                    <td>{{package.package_price}}</td>
                                    <td>{{package.package_discount}}</td>
                                    <td>
                                        <div class="custom-control custom-switch">
                                            <input class="updateToggle" data-onstyle="success" data-offstyle="info" data-size="small" id="package-{{package.id}}" doFunction="update-package-status" data_id="{{package.id}}" type="checkbox" data-toggle="toggle" {% if package.active == True %} checked {% endif %} data-on="Active" data-off="Inactive" value="{{package.active}}">

                                        </div>

                                    </td>
                                    <td>
                                        <a ype="button" data-toggle="modal" data-target="#exampleModal-{{package.id}}" class="btn btn-outline-primary my-1"><span class="far fa-eye"></span></a>
                                        <a href="{% url 'travelsapp:adminPackageUpdate' package.id %}" class="btn btn-outline-info my-1"><span class="far fa-edit"></span></a>
                                        <a class="btn btn-outline-danger my-1 deleteRecord" rel="{{package.id}}" rel1="delete-package" href="javascript:"><span class="far fa-trash-alt"></span></a>
                                    </td>

                                </tr>
                                <!-- Button trigger modal -->

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal-{{package.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">{{package.package_name}}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        Section: <br>
                                                        Category: <br>
                                                        Url:<br>
                                                        Price:<br>
                                                        Discount:<br>
                                                        Meta Tags:<br>
                                                        Meta Keywords:<br>
                                                        Meta Description:<br>

                                                    </div>
                                                    <div class="col-md-8">
                                                        {{package.section}} <br>
                                                        {{package.category}} <br>
                                                        {{package.package_url}} <br>
                                                        Rs {{package.package_price}} <br>
                                                        Rs {{package.package_discount}} <br>
                                                        {{package.meta_tags}} <br>
                                                        {{package.meta_keywords}} <br>
                                                        {{package.meta_description}} <br>
                                                         <br>
                                                        <div>
                                                            <img class="img-fluid" src="{{package.package_image.url}}" alt="" width="80%">
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

{% endblock %}